<div class="">
    <h3><em>Quelques Conseils!</em></h3>
  <p>
     
      Lorsque vous créer votre annonce, il est important 
      de suivre les recommendations suivantes:
      <br/>
       <em>
      1- Choisissez bien le titre de votre annonce<br/>
      2- Faite une description la plus précise possible<br/>
      3- Si vous postez un objet retrouvé, nous vous conseillons de
      mettre des questions pour des raisons de sécurité.
      </em>
  </p>
  
  <p>
      <strong><em>Les photos :</em></strong> Il est particulièrement conseillé de poster des photos,
      elles attirent plus facilement l'attention.
  </p>
 
</div>