/web/bundles/*
/web/uploads/*
/web/media/cache/my_thumb/uploads/documents/annonces/*
/web/media/cache/main_thumb/uploads/documents/utilisateurs/*
/web/media/cache/previous_image/uploads/documents/annonces/*
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/*
/vendor/*
/bin/*
/composer.phar
/nbproject/private/