<center><h1 class="rTCPinkText">FAQ rTC et Conseils</h1></center>
<hr/>
<br/>
<div class="row">
    <div class="col-xs-12 col-sm-6">
        <h2 class='rTCPinkText'>FAQ rTC</h2>
        <p><h3>Retrouvez ici les questions les plus souvent posées, n'hésitez pas à nous
    Contacter pour tout autre question qui ne figure pas dans la liste
    </h3></p>
        <div class="" id="accordion" role="tablist" aria-multiselectable="true">
            <!--Begin panel-->
            <div class="">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title rTCGreenText">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expaned="true" aria-controls="collapseOne">
                            <h3><strong> Pourquoi dois-je m'inscrire ou me connecter pour consulter une annonce ?</strong></h3>
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="">
                        Les annonces peuvent contenir certaines informations confidentielles. Pour des raisons de sécurité, nous devons conserver une trace 
                        de tous ceux qui consultent chaque annonce. <br/>
                        Lorsque vous vous inscrivez à l'application, vous pouvez renseigner vos informations personnelles, chaque fois qu'une annonce ayant des informations
                        similaire sera publiée, vous serez notifié.
                    </div>
                </div>
            </div>
            <!--End panel-->
            <!--Begin panel-->
            <div class="">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title rTCGreenText">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <h3><strong> C'est quoi un espace dédié?</strong></h3>
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="">
                           Une des caractéristiques communes aux lieux les plus fréquentés est qu'on y perd 
                           également beaucoup d'objets. Un espace dédié est une page dans rTC associée à un 
                           lieu.
                    </div>
                </div>
            </div>
            <!--End panel-->
            <!--Begin panel-->
            
            <!--End panel-->
        </div>
        
    </div>
        <div class="col-xs-12 col-sm-6">
        <h2 class='rTCGreenText'>Quelques conseils</h2>
        <p><h3>Nous listons ici quelques conseils pratiques à suivre lorsque 
            vous utilisez rTC, mais également dans la vie de tous les jours pour vous aider à retrouver vos objets perdus.
    </h3></p>
        <div class="" id="accordion" role="tablist" aria-multiselectable="true">
            <!--Begin panel-->
            <div class="">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title rTCPinkText">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expaned="true" aria-controls="collapseThree">
                            <h3><strong> Comment remettre à un utilisateur son objet ?
                                </strong></h3>
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="">
                        De façon généralle nous vous déconseillons d'organiser des rencontres pour restitution
                        à moins que cela ne soit vraiment nécessaire. Dans ce cas donnez-vous rendez-vous dans 
                        un lieu public très fréquenté.
                    </div>
                </div>
            </div>
            <!--End panel-->
            <!--Begin panel-->
            <div class="">
                <div class="panel-heading" role="tab" id="headingFour">
                    <h4 class="panel-title rTCPinkText">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            <h3><strong> Personnalisez vos objets</strong></h3>
                        </a>
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                    <div class="">
                           Une des caractéristiques communes aux lieux les plus fréquentés est qu'on y perd 
                           également beaucoup d'objets. Un espace dédié est une page dans rTC associée à un 
                           lieu.
                    </div>
                </div>
            </div>
            <!--End panel-->
            <!--Begin panel-->
            
            <!--End panel-->
        </div>
        
    </div>
    
</div>
<br/><br/>