{# empty Twig template #}
<div class="container-fluid rTCBlack">
    <div class="row rTCWhiteText">
        

        <div class="col-lg-2 col-lg-offset-1">
            <h4 class="rTCGreenText">Nos partenaires</h4>
            <ul class="nav nav-stacked">
                <li></li>
            </ul>
        </div> 

        <div class="col-lg-2">
            <h4 class="rTCGreenText">Localisation</h4>
            <p><i class="icon-map-marker"></i>&nbsp;</p>
        </div>

        <div class="col-lg-2">
            <h4 class="rTCGreenText">Nous contacter</h4>
         
            <p>
                <a class="btn btn-social-icon btn-success" href="tel:+237 691 161 547">
                    <i class="fa fa-phone"></i> 
                </a>
                &nbsp;<a href="tel:+237 691 161 547" class="rTCWhiteText">+237 691 161 547</a>
            </p>
             <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin"></i></a>
            <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook"></i></a>
            <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter"></i></a>
            <a class="btn btn-social-icon btn-google-plus" href="http://google.com/+"><i class="fa fa-google-plus"></i></a>
        </div>
        <div class="col-lg-2">
            <h4 class="rTCGreenText">Politique</h4>
            <ul class="nav nav-stacked">
                <p><i class="icon-eye-open"></i>&nbsp;Vie privée</p>
                <p><i class="icon-fire"></i>&nbsp;Sécuritée</p>
            </ul>
        </div> 
    </div>
    

    <div class="row">
        <div class="col-lg-4 col-lg-offset-3">
            <p class="rTCGreenText">&copy; Copyright {{ "now"|date('Y') }} - rTC team</p>
        </div>
    </div>
   
</div>
        
       