      <header class="jumbotron rTCGreen">
          <!-- Main component for a primary marketing message or call to action -->
                <!-- Controls -->
             
            <div class="container">
                <div class="row row-header">
                    <div class="col-xs-12 col-sm-8">
                        <h1>Ne perdez plus vos objets</h1>
                        <p style="padding:10px;"></p>
                    </div>
                    
                    <div class="col-xs-12 col-sm-4 pull-right">
                            <img src="{{ asset('img/rtc/42-512.png') }}" height=250 width=250 style="padding:40px;">
                    </div>
                </div>
                   
                     
                        <div class="row row-header">
                            <div class="col-xs-12 col-sm-12">
                            <p>Inscrivez vous et laissez la magie opérer :)
                            </div>
                         </div>
                        
                    </div>
                 
            </div>
        </header>

