{# empty Twig template #}
<div class="row">
    <div class="col-xs-12 col-sm-12">
    <p>
        <h1 style="display: inline"><span class="glyphicon glyphicon-info-sign rTCPinkText"></span></h1>
        
            Chaque mois, nous récompensons l'utilisateur ayant publié le plus d'annonces productives.
            Pour être éligible, vous devez vous connecter avant de créer une annonce.
            
        
    </p>
    <a class="btn rTCPink" value="" href="#"><span class="glyphicon glyphicon-log-in rTCBlackText"></span> <span class="rTCBlackText">C'est par là</span></a>
    </div>
    
</div>

    
