{# empty Twig template #}
<div class="row-fluid">
    <div class="col-xs-12 col-sm-12 rTCFixed">
          <a class="btn rTCGreen" value="" href="{{ path('r_tc_nouvelle_annonce') }}"><span class="rTCBlackText"><i class='icon icon-plus'></i>&nbsp;Nouvelle Annonce</span></a>
    </div>
</div>
<div class="row-fluid" style="padding-top: 100px">
    <div class="col-xs-12 col-sm-12">
    <p>
        <em>
            Vous gérez un lieu très fréquenté?
            <br/>
            Créez un espace dédié.<br/>
            Vos clients/visiteurs pourront y retrouver
            leurs objets perdus chez vous<br/>
            
        </em>
    </p>
    
    <input type="submit" class="btn rTCGreen" value="C'est par là"/>
    </div>
    
</div>

    