{# empty Twig template #}
<div class="row">
    <div class="col-xs-12 col-sm-12 rTCFixed">
          <a class="btn rTCGreen" value="" href="{{ path('_lostbook_nouvelle_annonce') }}"><span class="rTCBlackText"><i class='icon icon-plus'></i>&nbsp;Nouvelle Annonce</span></a>
    </div>
</div>
<div class="row" style="padding-top: 50px">
    <div class="col-xs-12 col-sm-12">
    <p>
        <h1 style="display: inline"><span class="glyphicon glyphicon-info-sign rTCPinkText"></span></h1>
        <em>
            Vous gérez un lieu très fréquenté?
            <br/>
            Créez un espace dédié.<br/>
            Vos clients/visiteurs pourront y retrouver
            leurs objets perdus chez vous<br/>
            
        </em>
    </p>
    <a class="btn rTCPink" value="" href="{{ path('_lostbook_nouvel_espace') }}"><span class="glyphicon glyphicon-home rTCBlackText"></span> <span class="rTCBlackText">C'est par là</span></a>
    </div>
    
</div>

    