{# empty Twig template #}
<div class="row" style="padding-top: 50px">

    <div class="col-xs-12 col-sm-12">


        <p>
        <h2 style='display:inline'><span class="glyphicon glyphicon-info-sign rTCGreenText"></span></h2>
        Vous gérez un lieu très fréquenté?
        <br/>
        Créez un espace dédié.<br/>
        Vos clients/visiteurs pourront y retrouver
        leurs objets perdus chez vous<br/>

        </p>
        <br/>
        <a class="btn rTCPink" value="" href="{{ path('_lostbook_nouvel_espace') }}"><span class="glyphicon glyphicon-home rTCBlackText"></span> <span class="rTCBlackText">C'est par là</span></a>


    </div>

</div>

