@font-face { font-family: Baskerville; src: url('baskvl.otf'); } 
body 
{
 padding: 0px 0px 0px 0px;
 z-index: 0;
 font-family: Baskerville;
}
.starter-template 
{
padding: 40px 15px;
text-align: center;
}

textarea
{
    resize: none;
}
.dropzone
{
   margin-left: 15px;
     
}

.tab-content {
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  padding: 10px;
}
.affix {
  top: 425px;
  position:fixed;
  bottom: 200px;
}

.circle {
	width:50px;
    height:50px;
    border-radius:25px;
    font-size:25px;
    color:#fff;
    line-height:50px;
    text-align:center;
    background:rgb(255,23,255);
}

.main-content {
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-top : 1px solid #dddddd;
  padding:10px;
  margin-left: 0px;
  margin-right: 5px;
}

.filter-content
{
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-top : 1px solid #dddddd;
  padding:10px;
  margin-right: 20px;
}

.rTCBlack
{
    background-color:rgb(34,44,55);
}

.rTCBlackText
{
    color:rgb(34,44,55);
}

.scrollit-xs
{
   height: 100px;
   overflow: auto;
}

.rTCWhiteText
{
    color:rgb(255,255,255);
}

.rTCWhite
{
    background-color:rgb(255,255,255);
}

.rTCPinkText
{
    color:rgb(255,23,255);
}

.rTCGreen 
{
    background-color:rgb(0,204,204);
  
}

.rTCActive 
{
    background-color:rgb(0,204,204);
  
}


.rTCPink{
    background-color:rgb(255,23,255);
}

.noBorder{
    border:none;
}

.rTCGreenText
{
  color:rgb(0,204,204);
}

.rTCFixed
{
  //position: fixed;
  //z-index: 2;
  border:none;
  background : none;
  background-color:rgba(255,255,255,0);
}

.rTCTopElement{
    z-index : 3;
}

.rTCBottom{
    padding-top: 600px;
    z-index:2;
}

.customFieldset {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

.customLegend {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    border:none;
}
.lostbook-hover:hover{
    border:1px solid;
    border-color:rgb(255,23,255);
}


