<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content = "IE-edge">
        
    </head>
    <body>

{% block body_html %}
  
    <p>
    <h3>Bonjour  !</h3> <br/>

<h3>
    Un utilisateur vous a contacté à propos de votre annonce intitulée  <em>{{ annonce.titre }}</em>, il
    Vous a laissé le message suivant: <br/>
    {{ message }}
</h3>
    </p>    



<p>
    
</p>
<a href="{{ path('_lostbook_details_annonce',{'idAnnonce':annonce.id }) }}">Cliquez pour afficher l'annonce</a>
<br>
{% autoescape false %}
    Merci,
L'équipe de retrouveTaChose
{% endautoescape %}

{% endblock %}
    </body>
</html>
